@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

@keyframes gradient-x {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 6s ease-in-out infinite;
}

@keyframes gradient-move {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-text {
  background-size: 200% 200%;
  animation: gradient-move 3s ease-in-out infinite;
}